{% extends "catalog_template.html" %}
{% block head %}
  {{ super() }}
  <style>
    .catalog_content {
      display: flex;
      background-color: white;
      flex-direction: row;
      align-content: flex-start;
      padding: 10px;
    }
  </style>
{% endblock %}
{% block content %}
<article class="catalog_content">
  <aside class="category_list">
  <a href="{{url_for('newCategory')}}">Add Category</a>
  <h3>Categories</h3>
    {% for c in categories %}
      <a href="{{url_for('categoryItems', category_title=c.name)}}">{{c.name}}</a>
    {% endfor %}
  </aside>
  <aside class="vertical_line"></aside>
  <section class="item_list">
    <a href="{{url_for('newItem')}}">Add items</a>
    <h3>Latest Items</h3>
    {% for i in items %}
      <a href="{{url_for('showItem', category_title=i.category.name,
        item_title=i.name)}}">{{i.name}}</a>
    {% endfor %}
  </section>
</article>
{% endblock %}